In [1]:
# Import the random module.
import random 
# Import the NumPy module.
import numpy as np
# Import timeit.
import timeit

In [2]:
%timeit np.random.uniform(-90.000, 90.000, size=1500)

11.5 µs ± 169 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [3]:
def latitudes(x):
    latitudes = []
    while x < 1501:
        random_lat = random.randint(-90, 90) + random.random()
        latitudes.append(random_lat)
        x += 1
    return latitudes
# Call the function with x = 1.
%timeit latitudes(1)

1.7 ms ± 341 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [4]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [6]:
# Create a practice set of random latitude and longitude combinations.
x = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
y = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
coordinates = zip(x, y)

In [7]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(coordinate[0], coordinate[1])

25.12903645 -67.59741259
25.92017388 11.09532135
26.62509167 74.84233102
-59.98969384 -76.89176677
37.30571269 -61.13376282

In [8]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [9]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

In [10]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

621

In [11]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [12]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=2542cf2578abf24fac37456405279597

In [13]:

# Create an endpoint URL for a city.
city_url = url + "&q=" + "Lompoc"
city_weather = requests.get(city_url)
if city_weather.status_code == 200:
    print(f"City Weather found.")
else:
    print(f"City weather not found.")

City Weather found.

In [14]:
print (city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=2542cf2578abf24fac37456405279597&q=Lompoc

In [15]:
# Make a 'Get' request for the city weather.
city_weather = requests.get(city_url)
city_weather

In [16]:
# Create an endpoint URL for a city.
#city_url = url + "&q=" + "Chicago"
#city_weather = requests.get(city_url)
#city_weather

In [17]:
# Get the text of the 'Get' request.
city_weather.text

'{"coord":{"lon":-120.46,"lat":34.64},"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"base":"stations","main":{"temp":48.61,"pressure":1020,"humidity":65,"temp_min":44.6,"temp_max":53.01},"visibility":16093,"wind":{"speed":11.41,"deg":100,"gust":16.11},"clouds":{"all":90},"dt":1575133568,"sys":{"type":1,"id":4558,"country":"US","sunrise":1575125391,"sunset":1575161492},"timezone":-28800,"id":5367788,"name":"Lompoc","cod":200}'

In [18]:
# Get the JSON text of the 'Get' request.
city_weather.json()

{'coord': {'lon': -120.46, 'lat': 34.64},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 48.61,
  'pressure': 1020,
  'humidity': 65,
  'temp_min': 44.6,
  'temp_max': 53.01},
 'visibility': 16093,
 'wind': {'speed': 11.41, 'deg': 100, 'gust': 16.11},
 'clouds': {'all': 90},
 'dt': 1575133568,
 'sys': {'type': 1,
  'id': 4558,
  'country': 'US',
  'sunrise': 1575125391,
  'sunset': 1575161492},
 'timezone': -28800,
 'id': 5367788,
 'name': 'Lompoc',
 'cod': 200}

In [19]:
# Create an endpoint URL for a city.
#city_url = url + "&q=" + "Chicago"
#city_weather = requests.get(city_url)
#if city_weather.status_code == 200:
   # print(f"City Weather found.")
#else:
  #  print(f"City weather not found.")

In [20]:
# Get the JSON data.
chi_data = city_weather.json()

In [21]:
lat = chi_data["coord"]["lat"]
lng = chi_data["coord"]["lon"]
max_temp = chi_data["main"]["temp_max"]
humidity = chi_data["main"]["humidity"]
clouds = chi_data["clouds"]["all"]
wind = chi_data["wind"]["speed"]
#rain=chi_data["main"]["rain"]
#rain= chi_data["rain"]["1h"]
#snow=chi_data["main"]["snow"]


print(lat, lng, max_temp, humidity, clouds, wind)

34.64 -120.46 53.01 65 90 11.41

In [22]:
# Import the datetime module from the datetime library.
from datetime import datetime
# Get the date from the JSON file.
date = chi_data["dt"]
# Convert the UTC date to a date format with year, month, day, hours, minutes, and seconds.
datetime.utcfromtimestamp(date).strftime('%Y-%m-%d %H:%M:%S')

'2019-11-30 17:06:08'

In [23]:
# Import the datetime module from the datetime library.
from datetime import datetime

In [24]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [25]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city
    if i>100:
        break

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1     
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        #Current_Description = city_weather ["main"] ["description"]
        #city_rain = city_weather["rain"]["3h"]
        #city_snow =city_weather["snow"]["1h"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        try:
            city_rain = city_weather["rain"]["3h"]
        except:
            city_rain = 0
        try:
            city_snow = city_weather["snow"]["3h"]
        except:
            city_snow = 0
        
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                         "Rain":city_rain,
                          "Snow":city_snow,
                          "Country": city_country,
                          "Date": city_date})
                        # "Current Description":Current_Description})

# If an error is experienced, skip the city.
    except:
      print("City not found. Skipping...")
    pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 1 | bulawayo
Processing Record 2 of Set 1 | new norfolk
Processing Record 3 of Set 1 | mataura
Processing Record 4 of Set 1 | mar del plata
Processing Record 5 of Set 1 | mount pleasant
Processing Record 6 of Set 1 | namatanai
Processing Record 7 of Set 1 | nyurba
Processing Record 8 of Set 1 | liverpool
Processing Record 9 of Set 1 | grand river south east
City not found. Skipping...
Processing Record 10 of Set 1 | huarmey
Processing Record 11 of Set 1 | nizhneyansk
City not found. Skipping...
Processing Record 12 of Set 1 | longyearbyen
Processing Record 13 of Set 1 | yumen
Processing Record 14 of Set 1 | vostok
Processing Record 15 of Set 1 | punta arenas
Processing Record 16 of Set 1 | cape town
Processing Record 17 of Set 1 | kapaa
Processing Record 18 of Set 1 | vaitupu
City not found. Skipping...
Processing Record 19 of Set 1 | vaini
Processing Record 20 of Set 1 | nikolskoye
Processing Record 21 of Set 1 | ancud
Processing Record 22 of Set 1 | pringsewu
Processing Record 23 of Set 1 | tucuman
Processing Record 24 of Set 1 | tasiilaq
Processing Record 25 of Set 1 | hobart
Processing Record 26 of Set 1 | albany
Processing Record 27 of Set 1 | kruisfontein
Processing Record 28 of Set 1 | bethel
Processing Record 29 of Set 1 | adrar
Processing Record 30 of Set 1 | luderitz
Processing Record 31 of Set 1 | yulara
Processing Record 32 of Set 1 | laguna
Processing Record 33 of Set 1 | jutai
Processing Record 34 of Set 1 | ushuaia
Processing Record 35 of Set 1 | leshan
Processing Record 36 of Set 1 | ler
Processing Record 37 of Set 1 | umm lajj
Processing Record 38 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 39 of Set 1 | viedma
Processing Record 40 of Set 1 | lucapa
Processing Record 41 of Set 1 | nanortalik
Processing Record 42 of Set 1 | victoria
Processing Record 43 of Set 1 | busselton
Processing Record 44 of Set 1 | gornopravdinsk
Processing Record 45 of Set 1 | veraval
Processing Record 46 of Set 1 | bengkulu
City not found. Skipping...
Processing Record 47 of Set 1 | kaitangata
Processing Record 48 of Set 1 | amderma
City not found. Skipping...
Processing Record 49 of Set 1 | wulanhaote
City not found. Skipping...
Processing Record 50 of Set 1 | butaritari
Processing Record 1 of Set 2 | taolanaro
City not found. Skipping...
Processing Record 2 of Set 2 | korla
City not found. Skipping...
Processing Record 3 of Set 2 | kropotkin
Processing Record 4 of Set 2 | konotop
Processing Record 5 of Set 2 | rungata
City not found. Skipping...
Processing Record 6 of Set 2 | erie
Processing Record 7 of Set 2 | airai
Processing Record 8 of Set 2 | miyazu
Processing Record 9 of Set 2 | sucre
Processing Record 10 of Set 2 | carnarvon
Processing Record 11 of Set 2 | ribeira grande
Processing Record 12 of Set 2 | chokurdakh
Processing Record 13 of Set 2 | kurchum
Processing Record 14 of Set 2 | bredasdorp
Processing Record 15 of Set 2 | jamestown
Processing Record 16 of Set 2 | valparaiso
Processing Record 17 of Set 2 | kavieng
Processing Record 18 of Set 2 | ilo
Processing Record 19 of Set 2 | puerto ayora
Processing Record 20 of Set 2 | vao
Processing Record 21 of Set 2 | aksarka
Processing Record 22 of Set 2 | shitanjing
Processing Record 23 of Set 2 | hermanus
Processing Record 24 of Set 2 | lavrentiya
Processing Record 25 of Set 2 | dabakala
Processing Record 26 of Set 2 | leshukonskoye
Processing Record 27 of Set 2 | ruatoria
City not found. Skipping...
Processing Record 28 of Set 2 | castro
Processing Record 29 of Set 2 | narsaq
Processing Record 30 of Set 2 | hilo
Processing Record 31 of Set 2 | ponta do sol
Processing Record 32 of Set 2 | baiquan
Processing Record 33 of Set 2 | nouadhibou
Processing Record 34 of Set 2 | iqaluit
Processing Record 35 of Set 2 | kahului
Processing Record 36 of Set 2 | leningradskiy
Processing Record 37 of Set 2 | tanete
Processing Record 38 of Set 2 | saskylakh
Processing Record 39 of Set 2 | mogadishu
Processing Record 40 of Set 2 | yei
City not found. Skipping...
Processing Record 41 of Set 2 | tuatapere
Processing Record 42 of Set 2 | abha
Processing Record 43 of Set 2 | aklavik
Processing Record 44 of Set 2 | rikitea
Processing Record 45 of Set 2 | lata
Processing Record 46 of Set 2 | andros
Processing Record 47 of Set 2 | bluff
Processing Record 48 of Set 2 | barrow
Processing Record 49 of Set 2 | coihaique
Processing Record 50 of Set 2 | caraquet
Processing Record 1 of Set 3 | ust-tsilma
-----------------------------
Data Retrieval Complete
-----------------------------

In [26]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(50)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow,Country,Date
0,Bulawayo,-20.16,28.59,80.87,15,7,9.24,0.00,0.0,ZW,2019-11-30 17:06:42
1,New Norfolk,-42.78,147.06,50.00,53,90,9.17,0.00,0.0,AU,2019-11-30 17:00:14
2,Mataura,-46.19,168.86,54.00,83,77,1.99,0.00,0.0,NZ,2019-11-30 17:00:21
3,Mar Del Plata,-46.43,-67.52,60.87,30,56,13.58,0.00,0.0,AR,2019-11-30 17:00:27
4,Mount Pleasant,33.16,-94.97,75.99,69,75,11.41,0.00,0.0,US,2019-11-30 17:06:43
5,Namatanai,-3.66,152.44,82.98,70,70,6.60,0.00,0.0,PG,2019-11-30 17:06:43
6,Nyurba,63.29,118.35,-3.86,97,100,5.50,0.00,0.0,RU,2019-11-30 17:06:43
7,Liverpool,53.41,-2.98,39.00,93,0,11.41,0.00,0.0,GB,2019-11-30 17:01:55
8,Huarmey,-10.07,-78.15,80.73,43,12,11.72,0.00,0.0,PE,2019-11-30 17:06:44
9,Longyearbyen,78.22,15.63,12.20,43,100,28.86,0.00,0.0,NO,2019-11-30 17:00:15
10,Yumen,40.29,97.04,17.89,36,0,11.48,0.00,0.0,CN,2019-11-30 17:06:44
11,Vostok,46.45,135.83,11.93,81,100,3.83,0.00,0.0,RU,2019-11-30 17:00:17
12,Punta Arenas,-53.16,-70.91,55.40,43,20,21.92,0.00,0.0,CL,2019-11-30 17:00:00
13,Cape Town,-33.93,18.42,69.80,49,33,12.75,0.00,0.0,ZA,2019-11-30 17:00:03
14,Kapaa,22.08,-159.32,77.00,73,75,24.16,0.00,0.0,US,2019-11-30 17:00:17
15,Vaini,15.34,74.49,69.64,84,100,7.94,0.00,0.0,IN,2019-11-30 17:00:23
16,Nikolskoye,59.70,30.79,26.60,79,75,13.42,0.00,0.0,RU,2019-11-30 17:00:17
17,Ancud,-41.87,-73.83,55.40,66,75,9.17,0.00,0.0,CL,2019-11-30 17:06:46
18,Pringsewu,-5.36,104.98,72.54,98,0,2.28,0.00,0.0,ID,2019-11-30 17:06:46
19,Tucuman,-17.17,-70.89,72.70,20,65,15.95,0.00,0.0,PE,2019-11-30 17:06:47
20,Tasiilaq,65.61,-37.64,19.40,57,20,3.36,0.00,0.0,GL,2019-11-30 17:00:33
21,Hobart,-42.88,147.33,50.00,53,90,9.17,0.00,0.0,AU,2019-11-30 16:57:29
22,Albany,42.65,-73.75,34.00,50,20,8.05,0.00,0.0,US,2019-11-30 17:00:14
23,Kruisfontein,-34.00,24.73,59.58,80,70,10.87,0.00,0.0,ZA,2019-11-30 17:06:48
24,Bethel,60.79,-161.76,21.20,92,1,12.75,0.00,0.0,US,2019-11-30 17:06:48
25,Adrar,27.87,-0.29,80.60,19,26,11.41,0.00,0.0,DZ,2019-11-30 17:06:48
26,Luderitz,-26.65,15.16,71.60,64,6,29.97,0.00,0.0,NA,2019-11-30 17:06:48
27,Yulara,-25.24,130.99,64.40,42,0,4.70,0.00,0.0,AU,2019-11-30 17:06:48
28,Laguna,16.17,-88.94,73.40,53,75,11.41,0.00,0.0,BZ,2019-11-30 17:06:49
29,Jutai,-1.71,-47.89,95.14,40,39,3.18,0.00,0.0,BR,2019-11-30 17:06:49
30,Ushuaia,-54.81,-68.31,48.20,66,75,27.51,0.00,0.0,AR,2019-11-30 17:00:27
31,Leshan,29.56,103.76,46.60,78,98,3.74,0.00,0.0,CN,2019-11-30 17:06:49
32,Ler,63.20,10.30,35.60,69,75,21.92,0.00,0.0,NO,2019-11-30 17:06:49
33,Umm Lajj,25.02,37.27,73.58,65,8,5.84,0.00,0.0,SA,2019-11-30 17:06:50
34,Viedma,-40.81,-62.99,63.75,25,72,22.82,0.00,0.0,AR,2019-11-30 17:06:50
35,Lucapa,-8.42,20.74,70.97,91,94,2.66,1.38,0.0,AO,2019-11-30 17:06:50
36,Nanortalik,60.14,-45.24,38.57,83,100,19.82,2.06,0.0,GL,2019-11-30 16:59:46
37,Victoria,5.28,115.24,82.40,83,75,3.36,0.00,0.0,BN,2019-11-30 17:06:46
38,Busselton,-33.64,115.35,59.00,36,8,14.54,0.00,0.0,AU,2019-11-30 17:00:12
39,Gornopravdinsk,60.06,69.92,16.54,87,95,8.50,0.00,0.0,RU,2019-11-30 17:06:51
40,Veraval,49.65,0.71,42.80,86,100,16.11,0.00,0.0,FR,2019-11-30 17:06:51
41,Kaitangata,-46.28,169.85,52.00,96,79,8.01,0.00,0.0,NZ,2019-11-30 17:06:52
42,Butaritari,3.07,172.79,82.98,74,23,5.12,0.00,0.0,KI,2019-11-30 17:00:33
43,Kropotkin,45.43,40.58,46.26,79,70,13.69,0.00,0.0,RU,2019-11-30 17:06:53
44,Konotop,51.24,33.21,32.56,84,94,16.71,0.00,0.0,UA,2019-11-30 17:06:53
45,Erie,42.13,-80.09,37.99,69,1,6.93,0.00,0.0,US,2019-11-30 17:02:55
46,Airai,-8.93,125.41,66.47,86,56,2.06,0.00,0.0,TL,2019-11-30 17:00:17
47,Miyazu,35.58,135.20,34.66,86,0,5.75,0.00,0.0,JP,2019-11-30 17:06:54
48,Sucre,-19.05,-65.26,69.80,49,40,8.05,0.00,0.0,BO,2019-11-30 17:06:54
49,Carnarvon,-30.97,22.13,72.09,9,92,11.48,0.00,0.0,ZA,2019-11-30 17:06:54

In [27]:
New_Column_Order=["City","Country","Date","Lat","Lng","Max Temp","Humidity","Cloudiness","Wind Speed", "Rain","Snow"]
city_data_df=city_data_df[New_Column_Order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,Bulawayo,ZW,2019-11-30 17:06:42,-20.16,28.59,80.87,15,7,9.24,0.0,0.0
1,New Norfolk,AU,2019-11-30 17:00:14,-42.78,147.06,50.00,53,90,9.17,0.0,0.0
2,Mataura,NZ,2019-11-30 17:00:21,-46.19,168.86,54.00,83,77,1.99,0.0,0.0
3,Mar Del Plata,AR,2019-11-30 17:00:27,-46.43,-67.52,60.87,30,56,13.58,0.0,0.0
4,Mount Pleasant,US,2019-11-30 17:06:43,33.16,-94.97,75.99,69,75,11.41,0.0,0.0
5,Namatanai,PG,2019-11-30 17:06:43,-3.66,152.44,82.98,70,70,6.60,0.0,0.0
6,Nyurba,RU,2019-11-30 17:06:43,63.29,118.35,-3.86,97,100,5.50,0.0,0.0
7,Liverpool,GB,2019-11-30 17:01:55,53.41,-2.98,39.00,93,0,11.41,0.0,0.0
8,Huarmey,PE,2019-11-30 17:06:44,-10.07,-78.15,80.73,43,12,11.72,0.0,0.0
9,Longyearbyen,NO,2019-11-30 17:00:15,78.22,15.63,12.20,43,100,28.86,0.0,0.0

In [28]:
# Create the output file (CSV).
output_data_file = "weather_data/vacation_Challenge2.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# Extract relevant fields from the DataFrame for plotting.
lats = city_data_df["Lat"]
max_temps = city_data_df["Max Temp"]
humidity = city_data_df["Humidity"]
cloudiness = city_data_df["Cloudiness"]
wind_speed = city_data_df["Wind Speed"]

In [30]:
# Import the time module.
import time
# Get today's date in seconds.
today = time.time()
today

1575133624.35068

In [31]:
city_data_df.loc[(city_data_df["Lat"] >= 0)]
city_data_df.head(5)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,Bulawayo,ZW,2019-11-30 17:06:42,-20.16,28.59,80.87,15,7,9.24,0.0,0.0
1,New Norfolk,AU,2019-11-30 17:00:14,-42.78,147.06,50.00,53,90,9.17,0.0,0.0
2,Mataura,NZ,2019-11-30 17:00:21,-46.19,168.86,54.00,83,77,1.99,0.0,0.0
3,Mar Del Plata,AR,2019-11-30 17:00:27,-46.43,-67.52,60.87,30,56,13.58,0.0,0.0
4,Mount Pleasant,US,2019-11-30 17:06:43,33.16,-94.97,75.99,69,75,11.41,0.0,0.0

In [32]:
index13 =city_data_df.loc[13]
index13

City                    Cape Town
Country                        ZA
Date          2019-11-30 17:00:03
Lat                        -33.93
Lng                         18.42
Max Temp                     69.8
Humidity                       49
Cloudiness                     33
Wind Speed                  12.75
Rain                            0
Snow                            0
Name: 13, dtype: object

In [33]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API key.
from config import g_key

In [34]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df.to_csv("weather_data/vacation_cities.csv",index=False)
city_data_df = pd.read_csv("weather_data/vacation_cities.csv")
city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,Bulawayo,ZW,2019-11-30 17:06:42,-20.16,28.59,80.87,15,7,9.24,0.0,0.0
1,New Norfolk,AU,2019-11-30 17:00:14,-42.78,147.06,50.00,53,90,9.17,0.0,0.0
2,Mataura,NZ,2019-11-30 17:00:21,-46.19,168.86,54.00,83,77,1.99,0.0,0.0
3,Mar Del Plata,AR,2019-11-30 17:00:27,-46.43,-67.52,60.87,30,56,13.58,0.0,0.0
4,Mount Pleasant,US,2019-11-30 17:06:43,33.16,-94.97,75.99,69,75,11.41,0.0,0.0

In [35]:
# Get the data types.
city_data_df.dtypes

City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Rain          float64
Snow          float64
dtype: object

In [36]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [37]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4) #[max(0,temp) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 85

In [43]:
# Ask the customer if they want rain or snow
min_rain = input("Do you want it to be raining? (yes/no) ")
min_snow = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [44]:
# Filter the dataset to find the cities that fit the criteria.
#preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       #(city_data_df["Max Temp"] >= min_temp)]
#preferred_cities_df.head(10)

IndentationError: unexpected indent (<ipython-input-44-1e42b2c48aeb>, line 3)

In [45]:
#preferred_cities_df = No rain, No snow
if min_rain == "no" and min_snow == "no":
    # Filter the dataset to find the cities that fit the criteria.
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)& 
                                       (city_data_df["Rain"] == 0) & 
                                       (city_data_df["Snow"] == 0)]
preferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,Bulawayo,ZW,2019-11-30 17:06:42,-20.16,28.59,80.87,15,7,9.24,0.0,0.0
1,New Norfolk,AU,2019-11-30 17:00:14,-42.78,147.06,50.00,53,90,9.17,0.0,0.0
2,Mataura,NZ,2019-11-30 17:00:21,-46.19,168.86,54.00,83,77,1.99,0.0,0.0
3,Mar Del Plata,AR,2019-11-30 17:00:27,-46.43,-67.52,60.87,30,56,13.58,0.0,0.0
4,Mount Pleasant,US,2019-11-30 17:06:43,33.16,-94.97,75.99,69,75,11.41,0.0,0.0
5,Namatanai,PG,2019-11-30 17:06:43,-3.66,152.44,82.98,70,70,6.60,0.0,0.0
8,Huarmey,PE,2019-11-30 17:06:44,-10.07,-78.15,80.73,43,12,11.72,0.0,0.0
12,Punta Arenas,CL,2019-11-30 17:00:00,-53.16,-70.91,55.40,43,20,21.92,0.0,0.0
13,Cape Town,ZA,2019-11-30 17:00:03,-33.93,18.42,69.80,49,33,12.75,0.0,0.0
14,Kapaa,US,2019-11-30 17:00:17,22.08,-159.32,77.00,73,75,24.16,0.0,0.0

In [46]:
# Filter the dataset to find the cities that fit the criteria.
YESRAINNOSNOWpreferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)& 
                                       (city_data_df["Rain"] > 0) & 
                                       (city_data_df["Snow"] == 0)]
YESRAINNOSNOWpreferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
35,Lucapa,AO,2019-11-30 17:06:50,-8.42,20.74,70.97,91,94,2.66,1.38,0.0
69,Ponta Do Sol,BR,2019-11-30 17:06:59,-20.63,-46.00,79.09,73,96,6.06,3.63,0.0
78,Tuatapere,NZ,2019-11-30 17:07:01,-46.13,167.69,54.00,83,100,1.99,0.44,0.0
79,Abha,SA,2019-11-30 17:07:01,18.22,42.50,64.40,82,38,2.80,0.19,0.0

In [47]:
# Filter the dataset to find the cities that fit the criteria.
NORAINYESSNOWpreferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)& 
                                       (city_data_df["Rain"] == 0) & 
                                       (city_data_df["Snow"] > 0)]
NORAINYESSNOWpreferred_cities_df.head(50)

Empty DataFrame
Columns: [City, Country, Date, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Rain, Snow]
Index: []

In [48]:
# Filter the dataset to find the cities that fit the criteria.
YESRAINYESSNOWpreferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)& 
                                       (city_data_df["Rain"] > 0) & 
                                       (city_data_df["Snow"] == 0)]
YESRAINYESSNOWpreferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
35,Lucapa,AO,2019-11-30 17:06:50,-8.42,20.74,70.97,91,94,2.66,1.38,0.0
69,Ponta Do Sol,BR,2019-11-30 17:06:59,-20.63,-46.00,79.09,73,96,6.06,3.63,0.0
78,Tuatapere,NZ,2019-11-30 17:07:01,-46.13,167.69,54.00,83,100,1.99,0.44,0.0
79,Abha,SA,2019-11-30 17:07:01,18.22,42.50,64.40,82,38,2.80,0.19,0.0

In [49]:
preferred_cities_df.count()

City          47
Country       46
Date          47
Lat           47
Lng           47
Max Temp      47
Humidity      47
Cloudiness    47
Wind Speed    47
Rain          47
Snow          47
dtype: int64

In [50]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

              City Country  Max Temp    Lat     Lng Hotel Name
0         Bulawayo      ZW     80.87 -20.16   28.59
1      New Norfolk      AU     50.00 -42.78  147.06
2          Mataura      NZ     54.00 -46.19  168.86
3    Mar Del Plata      AR     60.87 -46.43  -67.52
4   Mount Pleasant      US     75.99  33.16  -94.97
5        Namatanai      PG     82.98  -3.66  152.44
8          Huarmey      PE     80.73 -10.07  -78.15
12    Punta Arenas      CL     55.40 -53.16  -70.91
13       Cape Town      ZA     69.80 -33.93   18.42
14           Kapaa      US     77.00  22.08 -159.32
15           Vaini      IN     69.64  15.34   74.49
17           Ancud      CL     55.40 -41.87  -73.83
18       Pringsewu      ID     72.54  -5.36  104.98
19         Tucuman      PE     72.70 -17.17  -70.89
21          Hobart      AU     50.00 -42.88  147.33
23    Kruisfontein      ZA     59.58 -34.00   24.73
25           Adrar      DZ     80.60  27.87   -0.29
26        Luderitz     NaN     71.60 -26.65   15.16
27          Yulara      AU     64.40 -25.24  130.99
28          Laguna      BZ     73.40  16.17  -88.94
33        Umm Lajj      SA     73.58  25.02   37.27
34          Viedma      AR     63.75 -40.81  -62.99
37        Victoria      BN     82.40   5.28  115.24
38       Busselton      AU     59.00 -33.64  115.35
41      Kaitangata      NZ     52.00 -46.28  169.85
42      Butaritari      KI     82.98   3.07  172.79
46           Airai      TL     66.47  -8.93  125.41
48           Sucre      BO     69.80 -19.05  -65.26
49       Carnarvon      ZA     72.09 -30.97   22.13
50  Ribeira Grande      PT     68.00  38.52  -28.70
53      Bredasdorp      ZA     71.60 -34.53   20.04
56         Kavieng      PG     83.89  -2.57  150.80
57             Ilo      PE     73.40 -17.65  -71.34
58    Puerto Ayora      EC     77.00  -0.74  -90.35
62        Hermanus      ZA     66.99 -34.42   19.24
64        Dabakala      CI     82.81   8.36   -4.43
66          Castro      CL     55.40 -42.48  -73.76
68            Hilo      US     70.00  19.71 -155.08
71      Nouadhibou      MR     69.80  20.93  -17.03
73         Kahului      US     77.00  20.89 -156.47
75          Tanete      ID     74.17  -3.94  119.78
77       Mogadishu      SO     81.61   2.04   45.34
81         Rikitea      PF     77.79 -23.12 -134.97
83          Andros      GR     66.20  37.83   24.93
84           Bluff      AU     70.63 -23.58  149.07
85          Barrow      AR     69.73 -38.31  -60.23
86       Coihaique      CL     55.40 -45.58  -72.07

In [51]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key# Set parameters to search for a hotel.

params = {
    "radius": 20000,
    "type": "lodging",
    "key": g_key
}

In [52]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [ ]:
#hotels

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bulawayo,ZW,80.87,-20.16,28.59,4 On Housman Backpackers
1,New Norfolk,AU,50.00,-42.78,147.06,The Shingles Riverside Cottages
2,Mataura,NZ,54.00,-46.19,168.86,Ellie's Villa
3,Mar Del Plata,AR,60.87,-46.43,-67.52,Hotel Costanera Del Sur
4,Mount Pleasant,US,75.99,33.16,-94.97,Holiday Inn Express & Suites Mount Pleasant
5,Namatanai,PG,82.98,-3.66,152.44,Namatanai Hotel
8,Huarmey,PE,80.73,-10.07,-78.15,Hotel Miramar
12,Punta Arenas,CL,55.40,-53.16,-70.91,Hotel Dreams Del Estrecho
13,Cape Town,ZA,69.80,-33.93,18.42,Southern Sun Waterfront Cape Town
14,Kapaa,US,77.00,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
15,Vaini,IN,69.64,15.34,74.49,Dandeli Lake County
17,Ancud,CL,55.40,-41.87,-73.83,HOTEL ANCUD DON LUCAS
18,Pringsewu,ID,72.54,-5.36,104.98,Urban Style by Front One
19,Tucuman,PE,72.70,-17.17,-70.89,El Mirador
21,Hobart,AU,50.00,-42.88,147.33,St Ives Apartments
23,Kruisfontein,ZA,59.58,-34.00,24.73,Oyster Bay House Rental
25,Adrar,DZ,80.60,27.87,-0.29,s.e.t.setif entenne d'adrar
26,Luderitz,NaN,71.60,-26.65,15.16,LÜDERITZ NEST HOTEL
27,Yulara,AU,64.40,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
28,Laguna,BZ,73.40,16.17,-88.94,Laguna Maya Lodge
33,Umm Lajj,SA,73.58,25.02,37.27,Tanal Hotel Apartment
34,Viedma,AR,63.75,-40.81,-62.99,Hotel casa crespo
37,Victoria,BN,82.40,5.28,115.24,Tiara Labuan Hotel
38,Busselton,AU,59.00,-33.64,115.35,Observatory Guest House
41,Kaitangata,NZ,52.00,-46.28,169.85,
42,Butaritari,KI,82.98,3.07,172.79,Isles Sunset Lodge
46,Airai,TL,66.47,-8.93,125.41,Juvinal Martin
48,Sucre,BO,69.80,-19.05,-65.26,Hostal CasArte Takubamba
49,Carnarvon,ZA,72.09,-30.97,22.13,Maritza Bed & Breakfast
50,Ribeira Grande,PT,68.00,38.52,-28.70,Quinta da Meia Eira
53,Bredasdorp,ZA,71.60,-34.53,20.04,Bredasdorp Country Manor
56,Kavieng,PG,83.89,-2.57,150.80,Nusa Island Retreat
57,Ilo,PE,73.40,-17.65,-71.34,Torreblanca Hotel
58,Puerto Ayora,EC,77.00,-0.74,-90.35,Finch Bay Galapagos Hotel
62,Hermanus,ZA,66.99,-34.42,19.24,Misty Waves Boutique Hotel
64,Dabakala,CI,82.81,8.36,-4.43,Hôtel campement
66,Castro,CL,55.40,-42.48,-73.76,Hotel Esmeralda
68,Hilo,US,70.00,19.71,-155.08,Hilo Seaside Hotel
71,Nouadhibou,MR,69.80,20.93,-17.03,El Medina
73,Kahului,US,77.00,20.89,-156.47,Maui Seaside Hotel
75,Tanete,ID,74.17,-3.94,119.78,Wisma Tri Multi
77,Mogadishu,SO,81.61,2.04,45.34,Olympic Hotel
81,Rikitea,PF,77.79,-23.12,-134.97,Pension Maro'i
83,Andros,GR,66.20,37.83,24.93,Micra Anglia Hotel - Andros
84,Bluff,AU,70.63,-23.58,149.07,Bluff Hotel
85,Barrow,AR,69.73,-38.31,-60.23,
86,Coihaique,CL,55.40,-45.58,-72.07,Diego De Almagro Coyhaique

In [55]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# Store the Hotel CSV you saved created in part one into a DataFrame.
hotel_df.to_csv("weather_data/WeatherPy_vacation.csv",index=False)
hotel_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bulawayo,ZW,80.87,-20.16,28.59,4 On Housman Backpackers
1,New Norfolk,AU,50.00,-42.78,147.06,The Shingles Riverside Cottages
2,Mataura,NZ,54.00,-46.19,168.86,Ellie's Villa
3,Mar Del Plata,AR,60.87,-46.43,-67.52,Hotel Costanera Del Sur
4,Mount Pleasant,US,75.99,33.16,-94.97,Holiday Inn Express & Suites Mount Pleasant

In [60]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bulawayo,ZW,80.87,-20.16,28.59,4 On Housman Backpackers
1,New Norfolk,AU,50.00,-42.78,147.06,The Shingles Riverside Cottages
2,Mataura,NZ,54.00,-46.19,168.86,Ellie's Villa
3,Mar Del Plata,AR,60.87,-46.43,-67.52,Hotel Costanera Del Sur
4,Mount Pleasant,US,75.99,33.16,-94.97,Holiday Inn Express & Suites Mount Pleasant
5,Namatanai,PG,82.98,-3.66,152.44,Namatanai Hotel
6,Huarmey,PE,80.73,-10.07,-78.15,Hotel Miramar
7,Punta Arenas,CL,55.40,-53.16,-70.91,Hotel Dreams Del Estrecho
8,Cape Town,ZA,69.80,-33.93,18.42,Southern Sun Waterfront Cape Town
9,Kapaa,US,77.00,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
10,Vaini,IN,69.64,15.34,74.49,Dandeli Lake County
11,Ancud,CL,55.40,-41.87,-73.83,HOTEL ANCUD DON LUCAS
12,Pringsewu,ID,72.54,-5.36,104.98,Urban Style by Front One
13,Tucuman,PE,72.70,-17.17,-70.89,El Mirador
14,Hobart,AU,50.00,-42.88,147.33,St Ives Apartments
15,Kruisfontein,ZA,59.58,-34.00,24.73,Oyster Bay House Rental
16,Adrar,DZ,80.60,27.87,-0.29,s.e.t.setif entenne d'adrar
17,Luderitz,NaN,71.60,-26.65,15.16,LÜDERITZ NEST HOTEL
18,Yulara,AU,64.40,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
19,Laguna,BZ,73.40,16.17,-88.94,Laguna Maya Lodge
20,Umm Lajj,SA,73.58,25.02,37.27,Tanal Hotel Apartment
21,Viedma,AR,63.75,-40.81,-62.99,Hotel casa crespo
22,Victoria,BN,82.40,5.28,115.24,Tiara Labuan Hotel
23,Busselton,AU,59.00,-33.64,115.35,Observatory Guest House
24,Kaitangata,NZ,52.00,-46.28,169.85,NaN
25,Butaritari,KI,82.98,3.07,172.79,Isles Sunset Lodge
26,Airai,TL,66.47,-8.93,125.41,Juvinal Martin
27,Sucre,BO,69.80,-19.05,-65.26,Hostal CasArte Takubamba
28,Carnarvon,ZA,72.09,-30.97,22.13,Maritza Bed & Breakfast
29,Ribeira Grande,PT,68.00,38.52,-28.70,Quinta da Meia Eira
30,Bredasdorp,ZA,71.60,-34.53,20.04,Bredasdorp Country Manor
31,Kavieng,PG,83.89,-2.57,150.80,Nusa Island Retreat
32,Ilo,PE,73.40,-17.65,-71.34,Torreblanca Hotel
33,Puerto Ayora,EC,77.00,-0.74,-90.35,Finch Bay Galapagos Hotel
34,Hermanus,ZA,66.99,-34.42,19.24,Misty Waves Boutique Hotel
35,Dabakala,CI,82.81,8.36,-4.43,Hôtel campement
36,Castro,CL,55.40,-42.48,-73.76,Hotel Esmeralda
37,Hilo,US,70.00,19.71,-155.08,Hilo Seaside Hotel
38,Nouadhibou,MR,69.80,20.93,-17.03,El Medina
39,Kahului,US,77.00,20.89,-156.47,Maui Seaside Hotel
40,Tanete,ID,74.17,-3.94,119.78,Wisma Tri Multi
41,Mogadishu,SO,81.61,2.04,45.34,Olympic Hotel
42,Rikitea,PF,77.79,-23.12,-134.97,Pension Maro'i
43,Andros,GR,66.20,37.83,24.93,Micra Anglia Hotel - Andros
44,Bluff,AU,70.63,-23.58,149.07,Bluff Hotel
45,Barrow,AR,69.73,-38.31,-60.23,NaN
46,Coihaique,CL,55.40,-45.58,-72.07,Diego De Almagro Coyhaique

In [72]:
#PART 3 of Challenge
import gmaps
import gmaps.datasets
gmaps.configure(g_key)
VacationCities_df = pd.read_csv("weather_data/Directions_Cities.csv")
VacationCities_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,Bredasdorp,ZA,11/30/2019 17:06,-34.53,20.04,71.60,46,32,17.22,0,0
1,Hermanus,ZA,11/30/2019 17:00,-34.42,19.24,66.99,73,8,5.99,0,0
2,Kruisfontein,ZA,11/30/2019 17:06,-34.00,24.73,59.58,80,70,10.87,0,0
3,Cape Town,ZA,11/30/2019 17:00,-33.93,18.42,69.80,49,33,12.75,0,0

In [84]:
#PART 3 of Challenge
import gmaps
import gmaps.datasets
gmaps.configure(g_key)
Bredasdorp= (34.53,20.04)
Hermanus=(-34.42,19.24)
Kruisfontein=(-34.00,24.73)
CapeTown=(-33.93,18.42)




fig = gmaps.figure()
Cities = gmaps.directions_layer(Bredasdorp,Hermanus) 
Cities = gmaps.directions_layer(Hermanus,CapeTown)
Cities = gmaps.directions_layer(CapeTown,Kruisfontein)

fig.add_layer(Cities) 
fig

Figure(layout=FigureLayout(height='420px'))